---
layout: default
sidebar: true
---

{{ content }}

<h2 id="blog-posts">Blog Posts</h2>

<div class="cards">
    {% for post in site.posts %}
        {%- assign date_format = "%B %-d, %Y" -%}
        {% include components/startcard.html %}
        <span>{{ post.date | date: date_format }}</span>
        <h3>
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h3>
        {{ post.excerpt }}
        <a href="{{ post.url | relative_url }}">Read More...</a>
        {% include components/endcard.html %}
    {% endfor %}
</div>
