---
layout: default
---
{% include components/binds/sidebar-anchor.html %}

{{ content }}

<h2 id="blog-posts">Blog Posts</h2>

{% for post in site.posts %}
    <li>
        {%- assign date_format = "%b %-d, %Y" -%}
        <span>{{ post.date | date: date_format }}</span>
        <h3>
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h3>
        {{ post.excerpt }}
        <a href="{{ post.url | relative_url }}">Read More...</a>
    </li>
{% endfor %}
